*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg,#88DDF8,#AD15FD);
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    height: 80px;
    width: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255,255,255,0.4);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    overflow: hidden;
    transition: 1s;
}
.fab{
    font-size: 2em;
    color: rgb(255, 255, 255);
}

a::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 50px;
    height: 100%;
    background: rgba(255,255,255,0.5);
    transform: skewX(45deg) translateX(150px);
    transition: 1s;
}

a:hover{
    transform: translateY(-20px);
}

a:hover::before{
    transform: skewX(45deg) translateX(-150px);
}